body{
    padding: 0%;
    margin: 0%;
    /* display: flex; */
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(67, 136, 204);
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
}



header img{
    width: 95px;
}

header nav{
    gap: 15px;
    padding-right: 25px;
}

header nav a{
    gap: 15px;
    text-decoration: none;
    color: black;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
}

aside:first-of-type{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 2%;
    gap: 15px;
    margin-left: 1%;
    
}

aside:first-of-type input{
    border: none;
    border-radius: 5px;
    height: 25px;
    font-size: large;
}

aside:first-of-type input:hover{
    background-color: rgb(248, 209, 209);
}

aside:first-of-type input:last-of-type{
    margin-bottom: 25px;
}

aside:last-of-type{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 2%;
    gap: 15px;
    margin-right: 1%;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
}

main div{
    display: flex;
}

main > div:first-of-type{
    border: none;
    border-radius: 18px;
    background-color: rgb(67, 136, 204);
    width: 810px;
    margin-top: 25px;
}


footer{
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    display: flex;
    box-shadow: grey 0px -2px 6px;
    padding: 30px;
    background-color: #f2f2f2;
}

footer div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

footer div:not(:nth-of-type(1)){
    border-left: 2px solid #01050A;
    border-radius: 2px;
}

/* classe */

.container{
    display: flex;
    justify-content: space-around;
}

.aside{
    border: none;
    border-radius: 18px;
    background-color: rgb(67, 136, 204);
    width: 250px;
}

.match{
    border: none;
    border-radius: 18px;
    background-color: rgb(67, 136, 204);
    width: 500px;
    margin-top: 25px;
    justify-content: space-around;
}

.match div:first-of-type{
    display: flex;
    flex-direction: column;
}

.match div:last-of-type{
    display: flex;
    align-items: center;
}

.match div div p{
    text-align: left;
}

.match div:last-of-type button{
    height: 35px;
    margin-right: 10px;
}

.aside2{
    display: flex;
    justify-content: right;
    border: none;
    border-radius: 18px;
    background-color: rgb(67, 136, 204);
    width: 250px;

}

.link{
    text-decoration: none;
    color: black;
}


